<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @league.owner %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @league.rules %>
</p>

<p>
  <strong>Teamids:</strong>
  <%= @league.teamIds %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
